<!--use template-->
{% extends "base.html" %} <!--means = this template, be same as base.html + and can overide blocks defined inside base.html-->

<!--Title-->
{% block title %}Home{% endblock %} <!--title tab of the website-->

<!--Body-->
{% block content %}
<h1 align="center">Meeting Minutes</h1>
{# Loads all current user notes if any found #}
<ul class="list-group list-group-flush" id="minutes">
    {% for minute in user.minutes %}
    <li class="list-group-item">
        {{minute.topic, minute.date, minute.dateCompletion, minute.raisedBy, minute.absentees, minute.actionBy, minute.required, minute.information}}
        <button type="button" class="close" onclick="deleteMinute({{minute.id}})"> {# onclick"~~" = java send data to backend, [delete note method]#}
            <span aria-hidden="True">&times;</span>
        </button>
        </li>
    {% endfor %}
</ul>

{# Minutes form #}
<form method="POST">
    <!--<textarea name="note" id="note" class="form-control"></textarea>-->
<div class="container" style="margin-top:30px"/>
<!-- Topic line -->
    <div class="row">
        <div class="col-12">
            <p style= "text-align: left;">Topic</p>
            <textarea name="topic" id="topic" class="form-control" rows="1"></textarea>
        </div>
    </div>
<!-- Date line
    <div class="row">
        <div class="col-sm-2">       
            <p style= "text-align: left;">Date</p>
            <textarea name="date" id="date" class="form-control" rows="1"></textarea>
        </div> -->
        <div class="col-sm-2">
            <p style= "text-align: left;">Date of completion</p>
            <textarea name="dateCompletion" id="dateCompletion" class="form-control" rows="1"></textarea>
        </div>
    </div>
 <!-- People line -->
    <div class="row">
        <div class="col-sm-4">
            <p style= "text-align: left;">Raised by</p>
            <textarea name="raisedBy" id="raisedBy" class="form-control" rows="1"></textarea>
        </div>
        <div class="col-sm-4">
            <p style= "text-align: left;">Absentees</p>
            <textarea name="absentees" id="absentees" class="form-control" rows="1"></textarea>
        </div>
        <div class="col-sm-4">
            <p style= "text-align: left;">To be actioned by</p>
            <textarea name="actionBy" id="actionBy" class="form-control" rows="1"></textarea>
        </div>
    </div>
<!-- Required line -->
    <div class="row">
        <div class="col-sm-8">
            <p style= "text-align: left;">Actions/required</p>
            <textarea name="required" id="required" class="form-control" rows="1"></textarea>
        </div>
    </div>
<!-- Information line -->
    <div class="row">
        <div class="col-sm-12">
            <p style= "text-align: left;">Subsequent information</p>
            <textarea name="information" id="information" class="form-control" rows="1"></textarea>
        </div>
    </div>
</div>

    <br />
    {# Button = Submit #}
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Minutes</button>
    </div>
</form>
{% endblock %}
