<!--use template-->
{% extends "base.html" %} <!--means = this template, be same as base.html + and can overide blocks defined inside base.html-->

<!--Title-->
{% block title %}Sign Up{% endblock %} <!--title tab of the website-->

<!--Body-->
{% block content %} <!--All bootstrap classes used are imported in base.html to focus learning on flask and SQlchemy, to change later in free time-->
<form method = "POST">

    <!--Body heading-->
    <h1 align = "center" style="margin-top:10px">Sign up</h1>

    <!--Email-->
    <div class="form-group" style="padding-left:100px;padding-right:100px;">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>

    <!--First Name-->
    <div class="form-group" style="padding-left:100px;padding-right:100px;">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" />
    </div>

    <!--Password-->
    <div class="form-group" style="padding-left:100px;padding-right:100px;">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
    </div>

    <!--Confirm password-->
    <div class="form-group" style="padding-left:100px;padding-right:100px;">
        <label for="password2">Confirm password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
    </div>

    <br />
    <div align="center">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

{% endblock %}
